songs {
    color: white;
    background-color: indianred;
}

title {
    font-size: 25px;
    font-weight: bold;
}

artist, genre, release-date {
    display: block; 
    font-size: 15px;
}